/* main.css: Add and override styles */


body {
  background: url(../images/background1.jpg);
  background-size: 4000px auto;
}

#title {
  color: white;
}

.dc-data-count small {
  font-size: 16px;
}

.container-fluid {
  padding-left: 100px;
  padding-right: 100px;
  margin: auto;
  width: 90%;
}

.pie-chart {
  height: 150px;
}

.dc-chart .axis text{
  font-size: 12px;
}

.bottom {
  height: 100px;
}


#highlighted{
  color: white;
}

#selected{
  color: white;
}





text {
  font-size: 16px;

}

#map {
  height: 150px;
}

#control-row {
  padding-bottom: 20px;
}

a { cursor: pointer }


.dataTables_scroll
{

    height: 250px;
    width: 500px;
    overflow-y: scroll;
}

.strip1{


}





.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 11px;

}

rect {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
rect:hover{
  fill: #f9c8a8;
}


/* MOBILE VIEW */


  @media (max-width: 480px) {
#juice{
    margin-left: 160px;
}
 #StateBar{

    margin-left: 150px;

  }
  #contianer{
    width:100%;
  }
  #gene_table{
    width:6443px;
  }
}
